<h1>BudoHub Martial Arts Management</h1>
<div fxLayout.xs="column" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid">
    <mat-card fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>
                <h2>About Us</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>An integrated payment, membership, and scheduling system for martial arts schools.</p>
            <p>Written by developers that share a passion for technology and the martial arts. We see a need for a
                system
                that can enable martial artists from around the globe to connect and share their knowledge and
                experiences.
                We believe that the best way to do this is to provide a platform that is easy to use, affordable, secure
                and
                most
                importanly respects the members privacy above all else.</p>
            <p>To that end we are actively developing this platform and are rapidly approaching an inital alpha release.
            </p>
            <p>Subscribe <a href="todo">here</a> to be notified when the first alpha release is available!</p>
        </mat-card-content>
    </mat-card>

    <h2>Some interesting logo ideas we've generated
         using the <a href="https://openai.com/dall-e-2/">DALL-E 2</a> open ai.</h2>
    <mat-card fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="mat-elevation-z8">
        <mat-card-content>
            <img src="assets/images/dalle-1.png">
            <img src="assets/images/dalle-2.png">
            <img src="assets/images/dalle-3.png">
            <img src="assets/images/dalle-4.png">
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="mat-elevation-z8">
        <mat-card-content>
            <img src="assets/images/dalle-6.png">
            <img src="assets/images/dalle-7.png">
            <img src="assets/images/dalle-8.png">
            <img src="assets/images/dalle-9.png">
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="mat-elevation-z8">
        <mat-card-content>
            <img src="assets/images/dalle-5.png">
            <img src="assets/images/dalle-10.png">
            <img src="assets/images/dalle-11.png">
            <img src="assets/images/dalle-12.png">
        </mat-card-content>
    </mat-card>

</div>